---
import data from "../../Data/data.json";

const dataBio = data.es.Biografia;
---

<header
  id="biografy"
  class="p-paddingGeneral sm:pt-[10vh] grid grid-rows-2 sm:grid-rows-1 sm:grid-cols-2 w-full mx-auto max-w-[1000px] sm:h-[60vh]"
>
  <section class="flex flex-col w-full sm:justify-start justify-center" data-scroll-spy>
    <div class="h-[45vh] grid place-content-center">
      <ul class="flex justify-center">
        <img
          class="sm:hidden h-auto w-[219px]"
          src="../../../public/assets/LogoNogaKurumi.png"
          alt=""
        />
      </ul>

      <ul class="w-full flex sm:justify-start justify-center">
        <h1 class="text-[1.5rem] sm:text-[2.5rem]">
          Soy <i>{dataBio.apodo}</i>
        </h1>
      </ul>
      <ul class="flex flex-col gap-3">
        <ul class="w-full flex sm:justify-start justify-center">
          <descripction class="text-center sm:text-start sm:text-[1.5rem]"
            >{dataBio.cargo}</descripction
          >
        </ul>
        <ul class="w-full flex sm:justify-start justify-center">
          <h2 class="text-center sm:text-start max-w-[480px] sm:text-[1.5rem]">
            {dataBio.DetalleCargo}
          </h2>
        </ul>

        <ul
          class="w-[229px] sm:mx-0 mx-auto sm:max-h-min flex sm:justify-start justify-center botoN"
        >
          <a href="#trabajos" class="w-fit p-4 rounded-md hover:bg-[#344b8a]  transition-all 2s ease-in-out backgroundBlue anotherBlueDark">
            Trabajos Destacados
          </a>
        </ul>
      </ul>
    </div>
  </section>

  <div
    class="flex sm:justify-end items-center justify-center h-[59vh] md:h-[63vh]"
  >
    <img
      class="h-auto w-[58vw] gradienteImg rounded-[8rem] sm:w-[250px]"
      src={dataBio.imagenNoga}
      alt=""
    />
  </div>
</header>

<style is:global></style>
