---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../../public/assets/LogoNogaKurumi.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
/* .gradienteImg {
    mask-image: linear-gradient(#000000 50%, transparent);
  }
  .gradiendBtn {
    background: rgb(93, 134, 167);
    background: linear-gradient(
      90deg,
      rgb(92, 134, 168) 38%,
      rgba(85, 156, 215, 1) 67%
    );
  } */

  /* .botoN {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #6866e4, #4ce3f7);
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;

    @media screen and (width > 600px) {
      &:hover {
        background-position: right center;
        background-size: 200% auto;
        transition: all 1s ease-out;
        -webkit-animation: pulse 2s infinite;
        animation: pulse512 2s infinite;
      }
    }
    .boton:not(:hover) {
      transition: all 1s ease-out;
      -webkit-animation: pulse 2s infinite;
      animation: pulse512 2s infinite;
    }
    @keyframes pulse512 {
      0% {
        box-shadow: 0 0 0 0 #05bada66;
      }

      70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
      }

      100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
      }
    }
  } */

  
  .backgroundBlue{
    background-color: #102356;
  }
  .anotherBlueDark{
    background-color: #242344;
  }
  html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #102356 #ffffff;
  }
  body {
    color-scheme: light dark;
    background-color:light-dark(#102356, #121728) ;
	color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }
</style>
