---
import data from '../../Data/data.json'


const about1 = data.es.Biografia.sobreMi1
const about2 = data.es.Biografia.sobreMi2
---


<section id="sobremi" class=" sm:h-[72vh] sm:my-[3rem] py-[3rem] ">
  <u class="flex justify-center py-[5rem] ">
    <h4 class="text-size_text_mobile sm:text-size_text_desk ">Sobre mi</h4>
  </u>

  <div class="flex flex-col sm:flex-row gap-4 mx-auto  items-center sm:justify-center ">
    <ul class="max-w-[1000px] flex justify-center">
      <p class="text-center" >{about1}</p>
    </ul>
    <ul class="max-w-[1000px] flex justify-center">
      <p class="text-center">{about2}</p>
    </ul>
  </div>
</section>
